$max-width:126.02rem;
$vertical-gutter:2rem;
$horizontal-gutter:3rem;
$font-header:3rem;

//Color
$content-color:#565659;
$primary-color:#5BC0C3;

//fonts
$font-light: url(/dist/Fonts/MuseoSans-300.otf);
$font-regular: url(/dist/Fonts/MuseoSans_500.otf);
$font-bold: url(/dist/Fonts/MuseoSans_700.otf);
$secondary-font-light:url(/dist/Fonts/OpenSans-CondLight.ttf);
$secondary-font-bold:url(/dist/Fonts/OpenSans-Bold.ttf);
$secondary-font-extra-bold:url(/dist/Fonts/OpenSans-ExtraBold.ttf);