@import 'variables';
@import 'typography';
@import 'reset';
@import 'mixins';
@import 'grid';


#nav-menu-container{
    position: relative;
    overflow: hidden;
    .nav-menu{
        display: flex;
        padding: 18px;

        li{
            margin-right: 1.5rem;
            a{
                
                @include button;
                
                color: $content-color;
                
                

                &.join-us{
                    border: 2px solid $primary-color;
                    border-radius: 5px;
                    padding: 10px 20px;
                }
                
            }

            
        }
    }

    
}

#logo-container{
        
    padding-top: 10px; 

    img{
        width: 33%;
    }
}

#header--sharing-idea{
    width: 100%;
    height: 480px;
    background: url(/dist/images/hero.jpg) no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: grid;
    align-items: center;

    .sec-row{
        display: grid;
        align-items: center;
        position: relative;
        text-align: center;
        height: auto;
        color: #fff;

        .header-content{
            
            h1{
                font-size: $font-header;
                text-transform: uppercase;
                font-weight: 300;
                word-spacing: 10px;
            }

            p{
                font-family: firstfont;
                padding: 30px 0;
                font-size: 18px;
                width: 60%;
                margin: auto;
                line-height: 1.5;

                &.middle-p{
                    padding: 0;
                    margin-bottom: 25px;
                    font-size: 15px;
                }
            }

            h4{
                font-size: 20px;
            }
        }

    }
}

.btn{
    @include button;
    color: #fff;
    background: transparent;
    padding: 10px 20px;
}

.btn-one{
    border:2px solid $primary-color;
    background: #fff;
    color: $content-color;
}
.btn-first{
    
    background: $primary-color;
    color: #fff;
}

.mt-10{
    margin-top: 10px;
}
#next-event{
    padding: 40px 0;
    background: #f1f1f1;
    .col-third-one{
        text-align: center;
    }
    .col-third-two{
        .secondary-item{
            color: $primary-color;
        }
        p{
            font-size: 14px;
            line-height: 35px;
        }
    }
}

#get-involved{
    padding: 25px 0;
    .sec-row{
        text-align: center;
        h2{
            @include uppersmall;
        }

        .col-third-one{
            text-align: center;
            line-break: auto;
            line-height: 25px;

            img{
                height: 100px;
            }
            h4{
                text-transform: uppercase;
                font-size: 18px;
                padding-top: 28px;
            }
            p{
                padding: 5px 0 20px 0;
            } 
            a{
                display: block;
                border: 1px solid #5BC0C3;
                width: 55%;
                margin: auto;
                padding: 5px 0;
            }   
              
        }
    }
}

#our-mission{
    background: #F1F2F5;
    padding: 20px 0 40px 0;

    .sec-row:last-child{
        margin-top: 2rem;
        padding: 3rem 0 ;
        border-bottom: 1px solid #cecece;
    }

    .our-mission--content{
        text-align: center;
        line-height: 2.7;

        h2{
            @include uppersmall;
        }

    }

    .mission{
        text-align: center;
        line-height: 1.4;
        background: #fff;
        border-radius: 5px;
        position: relative;

        &--image-container{
            position: absolute;
            left: 50%;
            top: 0;
            width: 30%;
            background: #fff;
            height: 75px;
            transform: translateX(-50%);
            border-radius: 100%;
            padding: 10px 0;
            margin-top: -50px;

            img{
                height: 100%;
            }
        }
        &--content{
            padding: 52px 0 32px 0;

            h3{
                padding: 10px;
                font-size: 18px;
                color: $primary-color;
                font-weight: 500;
            }
        }
    }
}

#our-member{
    background: #F1F2F5;
    padding: 2rem 0;

    .member{
        text-align: center;
        &--title{
            @include uppersmall;
        }

        &--logo-wrapper{
            @include grid-5-col;
            margin-top: 30px;

            div{
                img{
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                    height: 100%;

                    &.fit{
                        width: 6rem;
                        height: 6rem;
                    }
                }
            }
        }
    }
}