@import 'variables';
@import 'typography';
@import 'reset';
@import 'mixins';
@import 'grid';


#nav-menu-container{
    position: relative;
    overflow: hidden;
    .nav-menu{
        display: flex;
        padding: 18px;

        li{
            margin-right: 1.5rem;
            a{
                
                @include button;
                
                color: $content-color;
                
                

                &.join-us{
                    border: 2px solid $primary-color;
                    border-radius: 5px;
                    padding: 10px 20px;
                }
                
            }

            
        }
    }

    
}

#logo-container{
        
    padding-top: 10px; 

    img{
        width: 33%;
    }
}

#header--sharing-idea{
    width: 100%;
    height: 480px;
    background: url(/dist/images/hero.jpg) no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: grid;
    align-items: center;

    .sec-row{
        display: grid;
        align-items: center;
        position: relative;
        text-align: center;
        height: auto;
        color: #fff;

        .header-content{
            
            h1{
                font-size: $font-header;
                text-transform: uppercase;
                font-weight: 300;
                word-spacing: 10px;
            }

            p{
                font-family: firstfont;
                padding: 30px 0;
                font-size: 18px;
                width: 60%;
                margin: auto;
                line-height: 1.5;

                &.middle-p{
                    padding: 0;
                    margin-bottom: 25px;
                    font-size: 15px;
                }
            }

            h4{
                font-size: 20px;
            }
        }

    }
}

.btn{
    @include button;
    color: #fff;
    background: $primary-color;
    padding: 10px 20px;
}
#next-event{
    padding: 40px 0;
    background: #f1f1f1;
    .col-third-one{
        text-align: center;
    }
    .col-third-two{
        .secondary-item{
            color: $primary-color;
        }
        p{
            font-size: 14px;
            line-height: 35px;
        }
    }
}