@import 'variables';
@import 'typography';
@import 'reset';
@import 'mixins';
@import 'grid';
@import 'media';

header{
    padding: 15px 0;
}
#nav-menu-container{
    position: relative;
    overflow: hidden;
    .nav-menu{
        display: flex;
        padding: 18px;

        li{
            margin-right: 1.5rem;
            a{
                
                @include button;
                
                color: $content-color;
                
                

                &.join-us{
                    border: 2px solid $primary-color;
                    border-radius: 5px;
                    padding: 10px 20px;
                }
                
            }

            
        }
    }

    
}

#logo-container{
        
    padding-top: 10px; 

    img{
        width: 33%;
    }
}

#header--sharing-idea{
    width: 100%;
    height: 480px;
    background: url(/dist/images/hero.jpg) no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: grid;
    align-items: center;

    .sec-row{
        display: grid;
        align-items: center;
        position: relative;
        text-align: center;
        height: auto;
        color: #fff;

        .header-content{
            
            h1{
                font-size: $font-header;
                text-transform: uppercase;
                font-weight: 300;
                word-spacing: 10px;
            }

            p{
                font-family: firstfont;
                padding: 30px 0;
                font-size: 18px;
                width: 60%;
                margin: auto;
                line-height: 1.5;

                &.middle-p{
                    padding: 0;
                    margin-bottom: 25px;
                    font-size: 15px;
                }
            }

            h4{
                font-size: 20px;
            }
        }

    }
}

.btn{
    @include button;
    color: #fff;
    background: transparent;
    padding: 10px 20px;
}

.btn-one{
    border:2px solid $primary-color;
    background: #fff;
    color: $content-color;
}
.btn-first{
    
    background: $primary-color;
    color: #fff;
}

.mt-10{
    margin-top: 10px;
}
#next-event{
    padding: 40px 0;
    background: #f1f1f1;
    .col-third-one{
        text-align: center;
    }
    .col-third-two{
        .secondary-item{
            color: $primary-color;
        }
        p{
            font-size: 14px;
            line-height: 35px;
        }
    }
}

#get-involved{
    padding: 25px 0;
    .sec-row{
        text-align: center;
        h2{
            @include uppersmall;
        }

        .col-third-one{
            text-align: center;
            line-break: auto;
            line-height: 25px;

            img{
                height: 100px;
            }
            h4{
                text-transform: uppercase;
                font-size: 18px;
                padding-top: 28px;
            }
            p{
                padding: 5px 0 20px 0;
            } 
            a{
                display: block;
                border: 1px solid #5BC0C3;
                width: 55%;
                margin: auto;
                padding: 5px 0;
                color: $primary-color;
            }   
              
        }
    }
}

#our-mission{
    background: #F1F2F5;
    padding: 20px 0 40px 0;

    .sec-row:last-child{
        margin-top: 2rem;
        padding: 3rem 0 ;
        border-bottom: 1px solid #cecece;
    }

    .our-mission--content{
        text-align: center;
        line-height: 2.7;

        h2{
            @include uppersmall;
        }

    }

    .mission{
        text-align: center;
        line-height: 1.4;
        background: #fff;
        border-radius: 5px;
        position: relative;

        &--image-container{
            position: absolute;
            left: 50%;
            top: 0;
            width: 30%;
            background: #fff;
            height: 75px;
            transform: translateX(-50%);
            border-radius: 100%;
            padding: 10px 0;
            margin-top: -50px;

            img{
                height: 100%;
                object-fit: scale-down;
                width: 77%;
            }
        }
        &--content{
            padding: 52px 0 32px 0;

            h3{
                padding: 10px;
                font-size: 18px;
                color: $primary-color;
                font-weight: 500;
            }
        }

        
    }
}

#our-member{
    background: #F1F2F5;
    padding: 2rem 0;

    .member{
        text-align: center;
        &--title{
            @include uppersmall;
        }

        &--logo-wrapper{
            @include grid-5-col;
            margin-top: 30px;

            div{
                img{
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                    height: 100%;

                    &.fit{
                        width: 6rem;
                        height: 6rem;
                    }
                }
            }
        }

        &--dot{
            position: relative;
            span{
                width: 10px;
                height: 10px;
                background: #fff;
                display: inline-block;
                border-radius: 100%;
                margin: 5px;

                &.active{
                    background: $primary-color;
                }
            }
        }
    }
}

#blog{
    background: #F4F5F7;
    position: relative;
    &::before{
        content: "";
        background: #858688;
        position: absolute;
        width: 100%;
        height: 60%;
        bottom: 0;
    }

    .blog{

        &--left-arrow{
        

       
            position: absolute;
            top: 50%;
            left: 0;
            padding-left: 2rem;
            span{
                font-size: 2rem;
                    color: $primary-color;
            }
    
            
        }
        &--right-arrow{
    
          
                position: absolute;
                right: 0;
                top: 50%;
                padding-right: 2rem;

                span{
                    font-size: 2rem;
                    color: $primary-color;
                }
          
    
        }

    }

    



    .sec-row{
        background: #fff;
        padding:3rem 4rem;
        max-width: $max-width-ext;
        position: relative;

        [class^="col-"]{
            margin-top: 20px;

            h6{
                color: $primary-color;
            }
        }

        hr{
            border:0;
            height: 1px;
            background: #f1f1f1;
        }

        h2{
            text-align: center;
            @include uppersmall;
            padding-bottom: 1rem;
            
        }
    }
}

#footer-container{
    background: #454850;
    .footer{
        text-align: center;
        padding: 2rem 0;
        
        
        &--social{
            position: relative;
            margin-bottom: 1rem;
            border-bottom: 2px inset #555;
            padding-bottom: 2rem;

            ul{
                li{
                    display: inline-block;
                    margin: 0 .5rem;
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
        &--copyright{
            color: #fff;
            word-spacing: 2px;
            font-size: 14px;
        }
    }
}

#page-nav{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 50%;
    left: 0;

    .block{
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 150px;
        height: 150px;
        border-radius: 100%;

        &--left{
            left: 0;
            transform: translateX(-70%);
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            &:hover{
                transform: translateX(-45%);
                img{
                    left: 70%;
                }
            }

            img{
                position: inherit;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
            }
            }
        
        &--right{
           
            right: 0;
            transform: translateX(70%);
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            &:hover{
                transform: translateX(45%);
                img{
                    right: 50%;
                }
            }
            img{
                position: inherit;
                top: 50%;
                transform: translate(-50%, -50%);
                right: 25%;
            }
            }

    }

    
}

#nav-menu-mobile{
    display: none;
}